<%!
import logging
from cms.djangoapps.contentstore.config.waffle_utils import should_show_checklists_page, should_show_checklists_quality
from util.date_utils import get_default_time_display
from django.utils.translation import ugettext as _
from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
from contentstore.utils import reverse_usage_url
from openedx.core.djangolib.markup import HTML, Text
%>

${notification_settings_url}

${course_structure | n, dump_js_escaped_json}