<%page expression_filter="h"/>
<%inherit file="base.html" />
<%def name="online_help_token()"><% return "notification" %></%def>
<%block name="title">${_("Notification Settings")}</%block>
<%block name="bodyclass">is-signedin course notification view-settings</%block>

<%namespace name='static' file='static_content.html'/>
<%!
  import urllib
  from django.utils.translation import ugettext as _
  from contentstore import utils
  from openedx.core.djangoapps.certificates.api import can_show_certificate_available_date_field
  from openedx.core.djangolib.js_utils import (
      dump_js_escaped_json, js_escaped_string
  )
  from openedx.core.djangolib.markup import HTML, Text
%>

<%block name="header_extras">
% for template_name in ["notification", "basic-modal", "modal-button", "validation-error-modal"]:
  <script type="text/template" id="${template_name}-tpl">
    <%static:include path="js/${template_name}.underscore" />
  </script>
% endfor
</%block>

<%block name="requirejs">
    require(["js/factories/settings_notification"], function(SettingsNotificationFactory) {
      SettingsNotificationFactory(
            "${notification_settings_url | n, js_escaped_string}"
        );
    });
</%block>

<%block name="content">
  <div class="wrapper-mast wrapper">
      <header class="mast has-subtitle">
        <h1 class="page-header">
          <small class="subtitle">${_("Settings")}</small>
          <span class="sr">&gt; </span>${_("Notification")}
        </h1>
      </header>
    </div>
  
  <div class="wrapper-content wrapper">
    <section class="content">
      <article class="content-primary" role="main">
          <form id="settings_notification" class="settings-notification" method="post" action="">
  
          <div class="message message-status confirm">
            ${_("Your Notification changes have been saved.")}
          </div>
  
          <div class="message message-status error">
            ${_("There was an error saving your information. Please see below.")}
          </div>
  
          <section class="group-settings advanced-policies">
            <!-- <header>
              <h2 class="title-2">${_("Basic Information")}</h2>
              <span class="tip">${_("The nuts and bolts of your course")}</span>
            </header> -->
            
            <ul class="list-input course-notification enum">

            </ul>
          </section>
        </form>
      </article>
    </section>
  </div>

</%block>