## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%inherit file="../main.html" />
<%block name="bodyclass">view-new_tab_type is-in-course course</%block>
<%block name="pagetitle">${_("Ranking Score")}</%block>
<%block name="headextra">
    <%static:css group='style-course'/>
</%block>
<%namespace name="progress_graph" file="/custom_progress/custom_progress_graph.js"/>
<%
    from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name
%>

<%
    username = get_enterprise_learner_generic_name(request) or student.username
%>

<%block name="js_extra">
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.stack.js')}"></script>
<script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.symbol.js')}"></script>
<script>
    ## This JavaScript is being HTML-escaped because it historically has, and it is not clear what
    ## the correct syntax is. For safety, maintain the previous behavior.
    ## xss-lint: disable=mako-invalid-js-filter
    ${progress_graph.body(max_percent_grade, grade_summary['percent'], min_percent_grade, mean_percent_grade, "grade-detail-graph")}
</script>
</%block>

<%include file="/courseware/course_navigation.html" args="active_page='custom_progress'" />

<main id="main" aria-label="Content" tabindex="-1">
    <div class="container">
        <div class="profile-wrapper">
            <section class="course-info" id="course-info-progress">
                % if staff_access and studio_url is not None:
                    <div class="wrap-instructor-info">
                        <a class="instructor-info-action studio-view"
                           href="${studio_url}">${_("View Grading in studio")}</a>
                    </div>
                % endif
                <h2 class="hd hd-2 progress-certificates-title">
                    ${_("Ranking score for Student '{username}' ({email})").format(username=username, email=student.email)}
                </h2>
                <!-- <h3 class="hd hd-2 mt-5">Ranking score</h3>
                <div class="mt-3">
                    <p>Your percent score : ${grade_summary['percent']}</p>
                    <p>Highest percent score : ${max_percent_grade}</p>
                    <p>Lowest percent score: ${min_percent_grade}</p>
                    <p>Mean percent score: ${mean_percent_grade}</p>
                </div> -->
                %if not course.disable_progress_graph:
                <div class="grade-detail-graph" id="grade-detail-graph" style="margin-top: 20px"></div>
                %endif
            </section>
        </div>
    </div>
</main>