// Studio common build

// Studio theme
@import 'cms/theme/variables';

// Core Bootstrap functions, variables and mixins
$theme-colors: (
    primary: #f15c22,
    inverse: #fff
);
@import 'bootstrap/variables';
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';
@import 'bootstrap/scss/mixins/grid';
